Flask==2.2.3
Flask-Cors==3.0.10
ipykernel 
ipython 
ipython-genutils 
json5
jsonschema 
matplotlib==3.7.0
matplotlib-inline 
numpy 
nyoka==5.4.0
pandas==1.5.2
pandocfilters 
python-dateutil 
requests 
scikit-learn 
seaborn==0.12.2
statsmodels==0.13.5
webencodings==0.5.1
websocket-client 
